body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    background-color: #141624;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 58.539px;
    flex-shrink: 0;
    position: relative;
    margin-bottom: 2em;
    z-index: 1;  
}
.logo img {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    float: left;
    border-radius: 50%;
    position: absolute;
    left: 13em;
    top: 1.3em;
}
.navbar-text {
    color: #fff;
    font-style: normal;
    font-size: 21.952px;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    left: 11.5em;
    top: 1.2em;
}
.span-text {
    font-weight: lighter;
}

  
.navbar-toggler {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    flex-direction: column;
    display: none; /* Initially hide the collapse icon */
}
  
.bar {
    background-color: white;
    height: 3px;
    width: 25px;
    margin: 5px 0;
}
  
.navbar-links {
    justify-content: flex-end;
    position: absolute;
    right: 32em;
    
}
  
.navbar-links a {
    text-decoration: none;
    margin: 0 13px;
    color: #fff;
    font-size: 1rem;
    font-weight: 200;
    line-height: normal;
    transition: 0.3s ease-in-out;
}
.nav-search {
    position: relative;
}

.nav-search .icon {
    position: absolute;
    right: 34%;
    top: 30%;
    color: #A1A1AA;
}

.nav-search input {
    width: 15em;
    margin: 0 12rem;
    height: 1.5rem;
    border-radius: 6%;
    border: 1px solid var(--Neutral-100, #242535);
    background: #242535;
    color: #fff;
}

.nav-search ::placeholder {
    color: #A1A1AA;
    padding-left: 1em;
}

.container-fluid {
    width: 70%;
    height: 70vh;
    background-image: url(./images/hero.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0.8em;
    position: relative;
    left: 13em;
    margin-bottom: 7em;
}

.fluid-card {
    background-color: #141624;
    color: #fff;
    width: 29.4em;
    height: 17em;
    border-radius: 0.9em;
    position: absolute;
    z-index: 1.5;
    bottom: -3.5em;
    left: 3em;
    border: 1px solid var(--Neutral-100, #242535);
}

.card-reason {
    background-color: #4B6BFB;
    width: fit-content;
    border-radius: 0.3em;
    padding: 0.4em 1em;
    margin: 2em 0 0 2em;
}

.card-text {
    font-weight: bold;
    font-size: 1.8em;
    line-height: 1em;
    margin-left: 1.3em;
    margin-top: 0.7em;
}

.person-tag {
    display: flex;
    position: absolute;
    bottom: -1.6em;
    left: 5em;
    align-items: center;
}

.person-tag img {
    width: 5%;
    border-radius: 100%;
}

.person-tag p {
    margin: 0.8em;
    color: #A1A1AA;
}
.content{
    height: 250vh;
    position: relative;
    background-color: #141624;
    margin-bottom: 3em;
}
.content .content-box{
    background-color: #242535;
    width: 40%;
    position: absolute;
    left: 25em;
    text-align: center;
    color: #696A75;
    border-radius: 0.9em;
    height: 5em;
    padding-top: 0.5em;
}
.content-box p{
    margin: 0.4em;
}
.content-box .box-p{
    font-weight: bold;

}

.content .card-container{
    position: absolute;
    top: 12em;
    left: 1em;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 70vh;
    padding-top: 0;
    gap: 0.8rem;
    margin-bottom: 20em;
    padding-bottom: 53px;
}
.content-card{
    background-color: #141624;
    color: #fff;
    /* width: 15em; */
    height: 30em;
    border-radius: 0.9em;
    width: calc(33% - 5em); 
    flex-shrink: 0;
    border: 1px solid var(--Neutral-100, #242535);
}
.card-container .card-header{
    position: absolute;
    top: -2.5em;
    left: 4.8em;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
}

.content .card-container .content-card > .card-img{
    width: 330px;
    height: 250px;
    margin: 0.9em; 
    margin-left: 0.9em;
    border-radius: 0.5em;
}
.content .card-container .content-card .card-text1{
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.2em;
    margin-left: 1.5em;
    margin-top: 0.7em;
}
.content .card-container .content-card .card-reason1 {
    background-color: #4B6BFB0D;
    width: fit-content;
    border-radius: 0.3em;
    padding: 0.4em 1em;
    margin-top: 0.5em;
    margin-left: 1.7em;
    color: #4B6BFB;
}
.content .card-container .content-card .person-tag1 img {
    width: 4%;
    border-radius: 100%;
    margin-top: 1em;
    margin-left: 1.7em;
}
.content .card-container .content-card .person-tag1 {
    display: flex;
    position: absolute;
    /* bottom: -1.6em; */
    /* left: 5em; */
    align-items: center;
}

.content .card-container .content-card .person-tag1 p {
    margin: 0.8em;
    margin-top: 2.2em;
    color: #A1A1AA;
}
.view-post{
    width: 10%;
    position: absolute;
    bottom: -15em;
    left: 47%;
    text-align: center;
    background-color: #141624;
    color: #696A75;
    border-radius: 0.3em;
    /* height: em; */
    border: 1px solid var(--Neutral-100, #242535);
    /* padding: 0.5em;  */

}
.content .view-post p{
    
}
.content-box1{
    background-color: #242535;
    width: 45%;
    position: absolute;
    bottom: -23em;
    left: 25em;
    text-align: center;
    color: #696A75;
    border-radius: 0.9em;
    height: 4.5em;
    padding-top: 0.5em;
}
.content-box1 p{
    margin: 0.3em;
}
.content-box1 .box-p1{
    font-weight: bold;

}
.footer{
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 75vh;
    /* padding-top: 0; */
    /* gap: 0.8rem; */
    /* margin-bottom: 20em; */
    /* padding-bottom: 53px; */
    position: relative;
    bottom: -25em;
    /* bottom: -30em; */
    /* width: calc(); */
    /* height: 50vh; */
    /* display: flex; */
    background-color:#181A2A;
    border-top:1px solid #242535;

}
.footer .footer-abt{
    color: #fff;
    /* width: 15em; */
    height: 19em;
    /* border-radius: 0.9em; */
    width: calc(29% - 5em); 
    flex-shrink: 0;
    /* border: 1px solid var(--Neutral-100, #242535); */
}
.footer .footer-abt a{
    display: flex;
    text-decoration: none;
    margin: 15px 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 200;
    line-height: normal; 
}
.footer .footer-abt .abt{
    position: absolute;
    left: 8em;
    top: 2em;
    width: 20%;
}
.footer .footer-abt .abt h4{
    font-size: 18px;
    /* line-height: 28px; */
}
.footer .footer-abt .abt p{
    color: #97989F;
    /* line-height: 24px; */
    font-size: 16px;
}

.footer .footer-abt .abt .ads{
    margin-top: 2.5em;
}
.footer .footer-abt .abt .ads span{
    color: #fff;
}
.footer .footer-abt .links{
    position: absolute;
    left: 35em;
    top: 2em;
}
.footer .footer-abt .links h4{
    font-size: 18px;
    /* line-height: 28px; */
}
.footer .footer-abt .links a{
    color: #97989F;
    /* line-height: 24px; */
    font-size: 16px;
}

.footer .footer-abt .cat-abt{
    position: absolute;
    right: 35em;
    top: 2em;
}
.footer .footer-abt .cat-abt h4{
    font-size: 18px;
    /* line-height: 28px; */
}
.footer .footer-abt .cat-abt p{
    color: #97989F;
    /* line-height: 24px; */
    font-size: 16px;
}

.footer .botton{
    border-radius: 0.4em;
    border: 1px solid var(--Neutral-100, #242535);
    background: #242535;
    height:14em ;
    width: 18em;
    text-align: center;
    position:absolute;
    right: 6.5em;
    top: 4em;
}
.footer hr{
    background-color:#242535 ;
    position: absolute;
    bottom: 5.5em;
    width: 83%;
    left: 8em;
    border: none;
    height: 1px;
}
.footer .footer-image{
    position: absolute;
    margin-top: 17em;
    left: -5.2em;
}
.footer .footer-text{
    color: #fff;
    font-style: normal;
    font-size: 19.952px;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    left: 13em;
    top: 1.2em;
}
.footer .footer-logo img{
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    float: left;
    border-radius: 50%;
    position: absolute;
    left: 13em;
    top: 1.3em;
}
.footer .footer-at{
    color: #97989F;
    font-style: normal;
    font-size: 15px;
    /* font-weight: 700; */
    line-height: normal;
    position: absolute;
    left: 17.3em;
    top: 3.5em;
    width: 25em;
}
.footer .footer-at span{
    color: #fff;
}

.footer .botton h4{
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 2em;
    margin-bottom: 0.8em;
}
.footer .botton p{
    color: #97989F;
    font-size: 12px;
}
.footer .botton input{
    width: 16em;
    height: 2.9em;
    margin-bottom: 0.5em;
    border-radius: 6%;
    border: 1px solid var(--Neutral-100, #242535);
    background: #181A2A;
    margin-top: 1em;
}
.footer .botton button{
    width: 16em;
    height: 2.9em;
    background-color: #4B6BFB;
    border-radius: 6%;
    border: 1px solid var(--Neutral-100, #4B6BFB);
}

/* Media query for screens with a maximum width of 768px */
@media only screen and (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: right; /* Align the links to the right on mobile screens */
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #141624;
    }
    .navbar{
        position: relative;
    }
    .logo img {
        position: absolute;
        left: 2em;
    }
    .navbar-text{
        position:absolute;
        left: 3.5em;
    }

    
    .navbar-links.show {
        display: flex;
    }
    
    .navbar-links a {
        margin: 10px 0;
        text-align: center;
    }
    
    .navbar-toggler {
        display: flex;
        position: absolute;/* Show the collapse icon on mobile screens */
        right: 2em;
        top: 1em;
    }

    .container-fluid {
        width: 100%;
        left: 0;
    }

    .fluid-card {
        width: 100%;
        left: 0;
        margin: 20px 0;
    }

    .person-tag {
        left: 1em;
        text-align: left;
    }

    .person-tag img {
        width: 15%;
    }
}
