body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    background-color: #141624;
    
}
header {
    display: flex;
    color: white;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    height: 58.539px;
    flex-shrink: 0;
    position: relative;
    margin-bottom: 2em;
    top: 0; /* Updated */
    left: 0; /* Updated */
    z-index: 100; /* Updated */
    /* background: rgba(33, 54, 33, 0.333); */
}
header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.logo img {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    float: left;
    border-radius: 50%;
    position: absolute;
    left: 13em;
    top: 1.3em;
}
.navbar-text {
    color: #fff;
    font-style: normal;
    font-size: 21.952px;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    left: 11.5em;
    margin-left: 0;
    /* top: 1.2em; */
}
.span-text {
    font-weight: lighter;
} 
.navbar{
    justify-content: flex-end;
    position: absolute;
    right: 32em;   
}
  
.navbar a {
    text-decoration: none;
    margin: 0 13px;
    color: #fff;
    font-size: 1rem;
    font-weight: 200;
    line-height: normal;
    transition: 0.3s ease-in-out;
}
.navbar > a:hover {
    color: var(--Secondary, #F9995D);
}
.nav-search {
    position: relative;
}

.nav-search .icon {
    position: absolute;
    right: 34%;
    top: 30%;
    color: #A1A1AA;
}

.nav-search input {
    width: 15em;
    margin: 0 12rem;
    height: 1.5rem;
    border-radius: 6%;
    border: 1px solid var(--Neutral-100, #242535);
    background: #242535;
    color: #fff;
}

.nav-search ::placeholder {
    color: #A1A1AA;
    padding-left: 1em;
}
#check {
    display: none;
}

.icons {
    position: absolute;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
    margin-top: 4%;
    margin-right: 5%;
    right: 3%;
}

.single-container{
    width: 100%;
    position: relative;
}
.single-card{
    color: #fff;
    width: 50%;
    position: absolute;
    left: 24em;
}
.single-tag{
    display: flex;
    position: absolute;
    bottom: -4em;
    /* left: 2.3em; */
    align-items: center;

}
.single-card .card-text{
    margin-top: 0.6em;
    font-size: 1.9em;
}
.single-tag img{
    width: 5%;
    border-radius: 100%;
}
.single-tag p{
    margin: 0.8em;
    color: #A1A1AA;
}
.single-reason{
    background-color: #4B6BFB;
    width: fit-content;
    border-radius: 0.3em;
    padding: 0.4em 1em;
    margin: 0 0 0 ;
    color: #fff;
}
.single-container .first-img img{
    width: 47%;
    position: absolute;
    left: 24em;
    top: 15em;
    border-radius: 0.9em;
}
.single-container .second-img img{
    width: 47%;
    position: absolute;
    left: 24em;
    bottom: -119em;
    border-radius: 0.9em;

}
.single-text{
    position: absolute;
    width: 49.5%;
    color: #fff;
    top: 43.5em;
    left: 24em;
    font-size: 1rem;
    line-height: 22px;
    font-weight: 400;
    color:#A1A1AA;
}
.single-text h3{
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
}
.single-task-box{
    position: absolute;
    color: #fff;
    bottom: -89em;
    background-color: #242535;
    left: 24em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 47%;
    line-height: 22px;
    letter-spacing: 1px;
    font-style: italic;
    text-align: center;
    border-radius: 0.9em;
    border-left: 4px solid #E8E8EA;
    
}
.single-box{
    background-color: #242535;
    width: 43%;
    position: absolute;
    bottom: -125em;
    left: 26em;
    text-align: center;
    color: #696A75;
    border-radius: 0.9em;
    height: 4em;
    padding-top: 0.5em;
    padding-bottom:0.5em ;
}
.single-box p{
    margin-top: 0.2em;
    margin-bottom: 0.3em;
}
.box-p2{
    margin-bottom: 1em;
    font-weight: bold;
}
.single-text2{
    position: absolute;
    bottom: -175em;
    width: 49.5%;
    left: 24em;
    font-size: 1rem;
    line-height: 22px;
    font-weight: 400;
    color:#A1A1AA;
}
.single-text2 h3{
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;

}

.footer{
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 29em;
    position: relative;
    bottom: -25em;
    background-color:#181A2A;
    border-top:1px solid #242535;

}
.blog-footer{
    bottom: -178em;
}
.footer .footer-abt{
    color: #fff;
    height: 19em;
    width: calc(29% - 5em); 
    flex-shrink: 0;
}
.footer .footer-abt a{
    display: flex;
    text-decoration: none;
    margin: 15px 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 200;
    line-height: normal; 
}
.footer .footer-abt .abt{
    position: absolute;
    left: 8em;
    top: 2em;
    width: 20%;
}
.footer .footer-abt .abt h4{
    font-size: 18px;
}
.footer .footer-abt .abt p{
    color: #97989F;
    font-size: 16px;
}

.footer .footer-abt .abt .ads{
    margin-top: 2.5em;
}
.footer .footer-abt .abt .ads span{
    color: #fff;
}
.footer .footer-abt .links{
    position: absolute;
    left: 35em;
    top: 2em;
}
.footer .footer-abt .links h4{
    font-size: 18px;
}
.footer .footer-abt .links a{
    color: #97989F;
    font-size: 16px;
}

.footer .footer-abt .cat-abt{
    position: absolute;
    right: 35em;
    top: 2em;
}
.footer .footer-abt .cat-abt h4{
    font-size: 18px;
}
.footer .footer-abt .cat-abt p{
    color: #97989F;
    font-size: 16px;
}

.footer .botton{
    border-radius: 0.4em;
    border: 1px solid var(--Neutral-100, #242535);
    background: #242535;
    height:14em ;
    width: 18em;
    text-align: center;
    position:absolute;
    right: 6.5em;
    top: 4em;
}
.footer hr{
    background-color:#242535 ;
    position: absolute;
    bottom: 5.5em;
    width: 83%;
    left: 8em;
    border: none;
    height: 1px;
}
.footer .footer-image{
    position: absolute;
    margin-top: 15em;
    left: -5.2em;
}
.footer .footer-text{
    color: #fff;
    font-style: normal;
    font-size: 19.952px;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    left: 13em;
    top: 1.2em;
}
.footer .footer-logo img{
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    float: left;
    border-radius: 50%;
    position: absolute;
    left: 13em;
    top: 1.3em;
}
.footer .footer-at{
    color: #97989F;
    font-style: normal;
    font-size: 15px;
    line-height: normal;
    position: absolute;
    left: 17.3em;
    top: 3.5em;
    width: 25em;
}
.footer .footer-at span{
    color: #fff;
}

.footer .botton h4{
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 2em;
    margin-bottom: 0.8em;
}
.footer .botton p{
    color: #97989F;
    font-size: 12px;
}
.footer .botton input{
    width: 16em;
    height: 2.9em;
    margin-bottom: 0.5em;
    border-radius: 6%;
    border: 1px solid var(--Neutral-100, #242535);
    background: #181A2A;
    margin-top: 1em;
}
.footer .botton button{
    width: 16em;
    height: 2.9em;
    background-color: #4B6BFB;
    border-radius: 6%;
    border: 1px solid var(--Neutral-100, #4B6BFB);
}
.footer .footer-list ul{
    display: flex;
    position: absolute;
    right: 5em;
    top: 25.5em;
}
.footer .footer-list li{
    margin-right: 1em;
    list-style: none;
    color:#BABABF;
}
.footer .footer-list div{
    border-left: 2px solid #242535;
    height: 18px;
    margin-right: 1em;
}

@media (max-width: 480px) {
    .icons {
        display: inline-flex;
        right: 2%;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .icons #close-icon {
        display: none;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: #181A2A;
        transition: .4s ease;
        overflow: hidden;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translate(-50px);
        transition: .4s ease;
    }

    #check:checked~.navbar a {
        transform: translate(0);
        transition-delay: calc(.15s * var(--i));
    }

    .logo > img {
        left: 2em;
    }

    .navbar-text {
        left: 3.5em;
        top: 1.4em;
    }

    .nav-search {
        /* width: 5em; */
        right: 30%;
        display: none;
        overflow: hidden;
    }
    .nav-search> ::placeholder {
        font-size: 1em;
    }
    .single-card{
        width: 90%;
        left: 1.5em;
        top: 3em;
    }
    .single-container .first-img img{
        width: 90%;
        left: 1.5em;
        top: 20.7em;
    }
    .single-text{
        width: 90%;
        top:42em;
        left: 1.5em;
    }
    .single-task-box{
        width: 90%;
        left: 1.5em;
        bottom: -109em;
    }
    .single-container .second-img img{
        width: 90%;
        left: 1.5em;
        top: 110em;
    }
    .single-box{
        width: 90%;
        left: 1.5em;
        bottom: -137em;
    }
    .single-text2{
        width: 90%;
        top:137em;
        left: 1.5em;
    }

    .footer{
        display: block;
        width: 100%;
        flex-direction: column;
        height: 62em;
        bottom: -218em;
        margin-top: -6em;
    }

    .footer > .footer-abt {
        height: 18em;
        width: 100%;
    
    }
    footer > .footer > .footer-abt > .abt{
        top: 0;
        left: 3em;
        width: 70%;
    }
    footer .botton{
    margin-top: 110%;
    left: 6em;
    }
    .footer .footer-abt .links {
        left: 7em;
        top: 18em;
    }
    .footer .footer-abt .cat-abt {
        top: 18em;
        right: 8em;
    }
    footer > .footer .footer-image {
        top: 38em;
        left: -12em;
    }
    .footer .footer-list ul{
        left: 4em;
        top: 73em;
        font-size: 0.8em;
    }
    
    .footer hr {
        left:4.6em;
        top: 85%;
        width: 70%;
    }
}
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .icons {
        display: inline-flex;
        right: 1%;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .icons #close-icon {
        display: none;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: #181A2A;
        transition: .4s ease;
        overflow: hidden;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translate(-50px);
        transition: .4s ease;
    }

    #check:checked~.navbar a {
        transform: translate(0);
        transition-delay: calc(.15s * var(--i));
    }

    .logo > img {
        left: 2em;
    }

    .navbar-text {
        left: 3.5em;
        top: 1.4em;
    }

    .nav-search {
        /* width: 5em; */
        right: 30%;
        display: none;
        overflow: hidden;
    }
    .nav-search> ::placeholder {
        font-size: 1em;
    }
    .single-card{
        width: 90%;
        left: 2.5em;
        top: 3em;
    }
    .single-container .first-img img{
        width: 90%;
        left: 2.5em;
        top: 17em;
    }
    .single-text{
        width: 85%;
        top:48em;
        left: 3em;
    }
    .single-task-box{
        width: 90%;
        left: 1.5em;
        bottom: -94em;
    }
    .single-container .second-img img{
        width: 90%;
        left: 1.5em;
        top: 96em;
    }
    .single-box{
        width: 90%;
        left: 1.5em;
        bottom: -133em;
    }
    .single-text2{
        width: 90%;
        top:134em;
        left: 1.5em;
    }

    .footer{
        display: block;
        width: 100%;
        flex-direction: column;
        height: 140vh;
        bottom: -187em;
        margin-top: 0;
    }

    .footer > .footer-abt {
        height: 5em;
        width: 50%;
    
    }
    footer > .footer > .footer-abt > .abt{
        top: 0;
        left: 3em;
        width: 40%;
    }
    footer .botton{
    margin-top: 30%;
    left: 15em;
    }
    .footer .footer-abt .links {
        left: 27em;
        top: 0em;
    }
    .footer .footer-abt .cat-abt {
        top: 0em;
        right: 6em;
    }
    footer > .footer .footer-image {
        top: 21em;
        left: -11em;
    }
    .footer .footer-list ul{
        left: 28em;
        top: 48.5em;
        font-size: 0.8em;
    }
    
    .footer hr {
        left:3.5em;
        top: 83%;
        width: 85%;
    }
    
}
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .icons {
        display: inline-flex;
        right: 2%;
        bottom: 0.1em;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .icons #close-icon {
        display: none;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: #181A2A;
        transition: .4s ease;
        overflow: hidden;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translate(-50px);
        transition: .4s ease;
    }

    #check:checked~.navbar a {
        transform: translate(0);
        transition-delay: calc(.15s * var(--i));
    }

    .logo > img {
        left: 2.8em;
    }

    .navbar-text {
        left: 3.9em;
        top: 1.4em;
    }

    .nav-search {
        right: 30%;
        display: none;
        overflow: hidden;
    }
    .nav-search> ::placeholder {
        font-size: 1em;
    }
    .single-card{
        width: 90%;
        left: 2.5em;
        top: 3em;
    }
    .single-container .first-img img{
        width: 90%;
        left: 3.5em;
        top: 17em;
    }
    .single-text{
        width: 85%;
        top:57em;
        left: 3.5em;
    }
    .single-task-box{
        width: 90%;
        left: 3.5em;
        bottom: -102em;
    }
    .single-container .second-img img{
        width: 90%;
        left: 3.5em;
        top: 104em;
    }
    .single-box{
        width: 90%;
        left: 3.5em;
        bottom: -152em;
    }
    .single-text2{
        width: 90%;
        top:153em;
        left: 3.5em;
    }
    .footer{
        width: 100%;
        height: 130vh;
        bottom: -210em;
        margin-top: -4em;
        flex-shrink: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .footer > .footer-abt {
        height: 5em;
        width: 50%;
    
    }
    footer > .footer > .footer-abt > .abt{
        top: 0;
        left: 3em;
        width: 30%;
    }
    footer .botton{
    margin-top: -2.4em;
    left: 42em;
    }
    .footer .footer-abt .links {
        left: 24em;
        top: 0em;
    }
    .footer .footer-abt .cat-abt {
        top: 0em;
        right: 24em;
    }
    footer > .footer .footer-image {
        top: 5em;
        left: -9em;
    }
    .footer .footer-list ul{
        left: 32em;
        top: 22.3em;
        font-size: 1em;
    }
    .footer hr {
        left:3em;
        top: 70%;
        width: 90%;
    }
}